extends layout

mixin button(title, location, color)
    a(href=location)
        button(style="background:##{color}") #{title}

block content
    #content-wrapper
        img(src='images/james.gif')
        #text-wrapper
            h1 James Kolsby
            each link in links
                +button(link.title, link.location, link.color)
            a#cv(href='/') or download my CV...
