@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('html5.css');

#content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;

    padding: 20px;
}

img,
#text-wrapper {
    display: inline-block;
	vertical-align: middle;
    margin: 0 auto;
}

#text-wrapper {
	display: inline-block;
	overflow: auto;

    max-width: 100%;
    width: 160px;

	text-align: left;

	position: relative;
	top: 20px;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 3em;
    line-height: 0.95;

    margin-bottom: 30px;
}

a { text-decoration: none }

button {
    width: 160px;
    height: 40px;
    display: block;

    border: none;
    border-radius: 4px;

    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;

    margin-bottom: 16px;

    cursor: pointer;
}

button:hover { opacity: 0.8 }

a#cv {
    font-family: 'Georgia', 'Times', serif;
    font-weight: 300;
    font-style: italic;
	font-size: 0.9em;
    text-decoration: underline;

    cursor: pointer;
}

a#cv:hover { opacity: 0.6 }

img {
    max-width: 100%;;
    width: 400px;
    height: auto;
}

@media screen and (max-width: 600px) {
	img { width: 250px; height: auto; }
}

@media screen and (max-height: 600px) {
    img {
        height: 100px;
        width: auto;
        margin-bottom: -20px;
    }

    img,
    #text-wrapper {
        display: block;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    }

}
